body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10rem;
   
}

h1{
    text-align: center;
}

h3{
    text-align: center;
}

a{
    text-decoration: none;
}
a::after{
    color: blue;
}