
body { 
    background: linear-gradient(135deg,#3d6add 23%,  #a8d2ff  100%);  /* Degradado en el color del fondo */
  
    color: white; 
    font-family: 'Abel', sans-serif;  
    font-size: 14px; 
    font-weight:normal;
    margin: 0; 
}


.intro{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    width: 80%;
}

.seccion {
    display: flex;
    justify-content: center;

}
.apartado {
    width: 30%;
    padding: 10px;
    margin: 10px; 
}

.titulo_seccion{
    font-size: 40px ;
}

.fondo{
    background-color: rgba(0,0,0,.3); /* color del fondo de las secciones + config de opacidad */
}

a { color: white; }





/* Barra scroll  */ 
::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
    width:10px;
    background-color: #aba5a3;
}

::-webkit-scrollbar-thumb {
    background-color: #3b302a;
    border-radius: 20px;
    border: 2px solid #aba5a3;
}
/**/

.container{
    color: pink;
}


