body{
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
}

h1, h2{
    text-align: center;
    font-weight: bold;

}

h1{
    font-size: 50px;
}

h2{
    font-size: 40px;
}

.indice{
    font-weight: bold;
}