
body{

            margin: 0;
            font-family: 'Poppins', sans-serif;
            background-color:white;
            color: white;
            padding-top: 5vh;




        }


        .container{

            width: 400px;
            height: 820px;
            display: flex;
            flex-direction: column;
            margin: auto;
            align-items: center;
            background-color: #004282;
            border-radius: 10px;


        }
        form{

            display: flex;
            flex-direction: column;
            width: 90%;
            height: 80px;
            

        }
        input{

            position: relative;
            width: 361px;
            border-radius: 20px;
            border: none;
            outline: none;
            margin-top: 10px;
            margin-bottom: 6px;
            text-align: center;
            font-size: 18px;
            color: black;
            background-color: white;
            cursor: pointer;
            padding: 10px;

        }


        .botones{


            margin: 20px auto;
        }



        button {


             padding: 1.3em 3em;
             margin-top: 20px;
             font-size: 12px;
             text-transform: uppercase;
             letter-spacing: 1px;


             color: black;
             background-color: white;
             border: none;
             border-radius: 45px;
             box-shadow: 0px 8px 15px rgb(8,8,8);
             transition: all 0.3s ease 0s;
             cursor: pointer;
             outline: none;
        }

        button:hover {
             background-color: rgb(135, 206, 235);
             box-shadow: 0px 15px 20px rgb(60, 153, 220);
             color: #004282;
             transform: translateY(-7px);
        }

        button:active {
        transform: translateY(-1px);
        }


        #titulo{
            height: 90px ;
            width: 300px ;
            margin-top: 60px;
            background-color: transparent;
            text-align: center;
            font-size: 30px;
            color: white;
            border-radius: 20px;

          



        }


        .remember{

            background-color: royalblue;
            border-radius: 20px;
            font-size: 14px;
            height: 80vh;
            width: 361px;
            text-align: center;

        }


        a{
            color: white;
            margin: 5px;
        }


        a:hover{
            color: skyblue;
        }

       

        #social{
            width: 40px;
            height: 40px;
            background-color: transparent;
            color: black;

        }


        #social:hover{

            color: skyblue;

        }

 /* Barra scroll  */ 
::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
    width:10px;
    background-color: #aba5a3;
}

::-webkit-scrollbar-thumb {
    background-color: #3b302a;
    border-radius: 20px;
    border: 2px solid #aba5a3;
}
/**/

