*{
    padding: 0;
	margin: 0;
font-family: 'Montserrat', sans-serif;
padding: 0;
box-sizing: border-box;
}

body { 
      margin: 0;
  
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fafafa;

}



h1{
	text-align: center;
	background-color: black;
	color: white;
	padding: 1em;
}



main{
	
	margin: 60px;
}

.alinear {
    display: flex;
}

.loco{
   
	position: relative;
    width: 150px;
    height: 150px;
    border-radius:100%;
    object-fit: cover;
    padding:0.5%;
}


.explicacion{
    
    position: relative;
    width: 40%;
    left: 1000px;
    bottom: 600px;
}
/*ENLACES*/

a:link, a:active{ color:inherit; text-decoration: none; }

a:hover {color: #016bec; text-decoration:NONE; }



/*CREDITOS*/
.alinear{
    display: flex;
    margin-left: 1%;
}

#aviso_legal{
margin-left: 83%;
}

.logo_p {
    width: 15%;
    position: relative;
    bottom: 650px;
    left: 1250px;
}

/* Barra scroll  */ 
::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
    width:10px;
    background-color: #aba5a3;
}

::-webkit-scrollbar-thumb {
    background-color: #3b302a;
    border-radius: 20px;
    border: 2px solid #aba5a3;
}
/**/