@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
    font-family: "Poppins", sans-serif;
    color: #444444;
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
}

.section-products {
    box-sizing: border-box;
    padding: 50px 0 0px;
}

.section-products .header {
    margin-bottom: 50px;
}

.section-products .header h3 {
width: 100vw; color: black; text-align: center; position: absolute; left: 0vw; font-size: 17px; font-weight: bold;
}

.section-products .header h2 {
    font-size: 2.2rem;
    font-weight: 400;
    color: #444444; 
}

.section-products .single-product {
    margin-bottom: 26px;
}

.section-products .single-product .part-1 {
    position: relative;
    height: 300px;
    max-height: 300px;
    margin-bottom: 20px;
    overflow: hidden;
}

.section-products .single-product .part-1::before {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		transition: all 0.3s;
}

.section-products .single-product:hover .part-1::before {
		transform: scale(1.2,1.2) rotate(5deg);
}

.section-products #product-101 .part-1::before {
    background-image: url("android.png");
    background-size: cover;
		
}

.section-products #product-102 .part-1::before {
    background-image: url("ios.png");
    background-size: cover;
}

.section-products #product-103 .part-1::before {
    background-image: url("tazaw.png");
    background-size: cover;
}

.section-products #product-104 .part-1::before {
    background-image: url("boliw.png");
    background-size: cover;
}

.section-products #product-105 .part-1::before {
    background-image: url("conoce.png");
    background-size: cover;
}

.section-products #product-106 .part-1::before {
    background-image: url("colabora.png");
    background-size: cover;
}

.section-products #product-107 .part-1::before {
    background-image: url("camibl.png");
    background-size: cover;
}

.section-products #product-108 .part-1::before {
    background-image: url("termow.png");
    background-size: cover;
}




.section-products #product-201 .part-1::before {
    background-image: url("estandar.png");
    background-size: cover;
}


.section-products #product-202 .part-1::before {
    background-image: url("premium.png");
    background-size: cover;
}



.section-products #product-203 .part-1::before {
    background-image: url("mercado.png");
    background-size: cover;
}


.section-products #product-204 .part-1::before {
    background-image: url("analytics.png");
    background-size: cover;
}


.section-products #product-205 .part-1::before {
    background-image: url("estandar.png");
    background-size: cover;
}


.section-products #product-206 .part-1::before {
    background-image: url("logo.png");
    background-size: cover;
}




.section-products .single-product .part-1 .discount,
.section-products .single-product .part-1 .new {
    position: absolute;
    top: 15px;
    left: 20px;
    color: #ffffff;
    background-color: #fe302f;
    padding: 2px 8px;
    text-transform: uppercase;
    font-size: 0.85rem;
}

.section-products .single-product .part-1 .new {
    left: 0;
    background-color: #444444;
}

.section-products .single-product .part-1 ul {
    position: absolute;
    bottom: -41px;
    left: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}

.section-products .single-product:hover .part-1 ul {
    bottom: 30px;
    opacity: 1;
}

.section-products .single-product .part-1 ul li {
    display: inline-block;
    margin-right: 4px;
}

.section-products .single-product .part-1 ul li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #ffffff;
    color: #444444;
    text-align: center;
    box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
    transition: color 0.2s;
}

.section-products .single-product .part-1 ul li a:hover {
    color: #fe302f;
}

.section-products .single-product .part-2 .product-title {
    font-size: 1rem;
}

.section-products .single-product .part-2 h4 {
    display: inline-block;
    font-size: 1rem;
}

.section-products .single-product .part-2 .product-old-price {
    position: relative;
    padding: 0 7px;
    margin-right: 2px;
    opacity: 0.6;
}

.section-products .single-product .part-2 .product-old-price::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #444444;
    transform: translateY(-50%);
}

#caja_carrito{
    border: 2px solid black;
    height: 50vh;
    width: 80vw;
    position: relative; 
    left: -9%;
    justify-content: center;
    background-color: #F6F3F3;
    display: flex;
}


#alineacion_contenido_carrito{
    text-align: center; 
    position: absolute; 
    top: 45%;
}



/* Barra scroll  */ 
::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
    width:10px;
    background-color: #aba5a3;
}

::-webkit-scrollbar-thumb {
    background-color: #3b302a;
    border-radius: 20px;
    border: 2px solid #aba5a3;
}
/**/